@{
    Layout = "_mainLayout";
    ViewData["Title"] = "Add Items";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Item/item.css" />
}

<!--<div class="Item-content">-->
    @* Stst-Overview *@
    <!--<h2>Items Stock Data</h2>
    <div class="stat-overview">
        <div class="stat-block">
            <div class="stat-title">
                Total Stocks
            </div>
            <div class="stat-data">
                2345234
            </div>
        </div>
        <div class="stat-block">
            <div class="stat-title">
                In Stocks
            </div>
            <div class="stat-data">
                2345234
            </div>
        </div>
        <div class="stat-block">
            <div class="stat-title">
                Low Stocks
            </div>
            <div class="stat-data">
                2345234
            </div>
        </div>
        <div class="stat-block">
            <div class="stat-title">
                No Stocks
            </div>
            <div class="stat-data">
                2345234
            </div>
        </div>
    </div>

    </div>-->

@section Scripts{

}