@{
    Layout = "_mainLayout";
    ViewData["Title"] = "Home";
}

<style>
    .home-welcome-content{
        width: 100%;
        height: 90vh;
        text-align: center;
        background-image: url('assets/images/bg-cart.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.8;
        overflow: hidden;
        position: relative;
    }  

    .header-tag p{
        color: blue;
        font-size: 30px;
        font-weight: 900;
    }
    .sub-tag p{
        color: green;
        font-weight: 600;
    }

</style>

<div class="home-welcome-content">
    <div class="header-tag">
        <p>Welcome to CloudCart</p>
    </div>
    <div class="sub-tag">
        <p>One Place to Shop for Anything</p>
    </div>
    
</div>

